<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.ComentariosMapper">

    <resultMap type='Comentario' id='ComentarioResult'>
        <id property='id' column='id'/>        
        <result property='fecha' column='fecha'/>
        <result property='puntaje' column='puntaje'/>
        <result property='comentario' column='comentario'/>
        <association property='suscriptor' resultMap='SuscriptorResult' columnPrefix='sus_'></association>
    </resultMap>
    
    	

  	
</mapper>