<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatisimpl.mappers.PacienteMapper">

    <resultMap type='Paciente' id='PacienteResult'>
        <id property='id' column='id'/>        
        <id property='tipo_id' column='tipo_id' typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property='fechaNacimiento' column='fecha_nacimiento'/>
        <result property='nombre' column='nombre'/>
        <collection property="consultas" ofType="Consulta" columnPrefix="consulta_" resultMap="ConsultaResult"></collection>
    </resultMap>

    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='id'/>        
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
    </resultMap>

    <select id="getPacientes" resultMap="PacienteResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            p.nombre,
            c.idCONSULTAS as consulta_id,
            c.fecha_y_hora as consulta_fecha_y_hora,
            c.resumen as consulta_resumen
        FROM
            PACIENTES as p
        INNER JOIN
            CONSULTAS as c ON p.id=c.PACIENTES_id
    </select>

    <select id="getPaciente" resultMap="PacienteResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            p.nombre,
            c.idCONSULTAS as consulta_id,
            c.fecha_y_hora as consulta_fecha_y_hora,
            c.resumen as consulta_resumen
        FROM
            PACIENTES as p
        INNER JOIN
            CONSULTAS as c ON p.id=c.PACIENTES_id
        WHERE
            p.id=#{id} AND
            p.tipo_id=#{tipo_id}
        GROUP BY c.idCONSULTAS 
        ORDER BY c.fecha_y_hora
    </select>

    <select id="getSick" resultMap="PacienteResult">
        SELECT
            p.id,
            p.tipo_id,
            p.fecha_nacimiento,
            c.idCONSULTAS as consulta_id,
            c.fecha_y_hora as consulta_fecha_y_hora,
            c.resumen as consulta_resumen
        FROM
            PACIENTES as p
        INNER JOIN
            CONSULTAS as c ON p.id=c.PACIENTES_id
        WHERE
            (c.resumen = "hepatitis" OR
            c.resumen = "varicela") AND
            TIMESTAMPDIFF(YEAR, p.fecha_nacimiento, CURRENT_DATE) &lt; 18
        GROUP BY p.id 
        ORDER BY p.fecha_nacimiento
    </select>

</mapper>